*{
    background-color: rgb(60, 60, 246);
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.container {
    margin: 60px auto 60px auto;
    display: flex;
    justify-content: center;
    background-color: rgb(177, 177, 180);
    display: block;
    height: 200px;
    width: 500px;
    border-radius: 12px;
}

.top {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 70);
    font-size: 50px;
    border-radius: 12px 12px 0px 0px;
    color: whitesmoke;
}

.screen {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    width: 500px;
    background-color: azure;
    color: black;
    font-size: 80px;
    text-align: right;
    padding-right: 30px;
}

.rectangle {
    margin: 60px auto 60px auto;
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 70);
    display: block;
    height: 200px;
    width: 500px;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-class {
    background-color: rgb(59, 7, 108);
    color: whitesmoke;
    display: flex;
    margin: 10px;
    justify-content: center;
    height: 40px;
    width: 40px;
    font-size: 30px;
    border-radius: 50%;
    border-color: aliceblue;
    display: inline-grid;
}
